.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 3em;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header__name {
  font-size: 32pt;
  float: left;
}

.App-header__search {
  display: inline-block;
  float: right;
  margin: 0 1em 0 1em;
}

.App-header__checkActive {
  display: inline-block;
  float: right;
  margin: 0 1em 0 1em;

}

.App-main__category {
  display: inline-block;
  margin: 2em 2em;
  width: 30%;
}

.App-main__items {
  margin: 2em 2em;
  width: 60%;
  float: right;
}

.App-main__items-list {
  height: 800px;
  width: 100%;
  margin: 1em 0 0 0;
  padding: 1em 1em;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.App-main__category-list {
  height: 800px;
  margin: 1em 0 0 0;
  padding: 1em 1em;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.App-main__item {
  border: 1px solid black;
  padding: 2em 1em;
  margin: 0;
  position: relative;
}

.item-name {
  margin: 0 0 0 2em;
}

.App-main__category-item {
  border: 1px solid black;
  padding: 1em;
  position: relative;
}

.category-name {
  margin: 0 1em 0 0;
  text-decoration: none;
  color: black;

}

.category-name__input {
  outline: none;
  border: 0;
  padding: 0;
  width: 100%;
  height: 1em;
  color: inherit;
  font: inherit;
  background: transparent;
}


.item__button-block {
  display: inline-block;
  position: absolute;
  right: 0;
  margin: 0 1em;
}

.meter {
  margin: 2em 0;
  height: 10px;
  position: relative;
  background: #555;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
          center bottom,
          rgb(43,194,83) 37%,
          rgb(84,240,84) 69%
  );
  box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.App-main__add-items {
  margin: 0 5em;
  position: absolute;
  right: 0;
}

.items__button-block {
  display: flex;
  margin: 2em 0;
  justify-content: flex-end;
}

.item__button {
  margin: 0 2em;
}

.Edit-main__items {
  float: right;
  width: 50%;
}

.Edit-main__header-input {
  width: 250px;
  margin: 2em 0;
}

.Edit-main__text-input {
  margin: 1em 0;
  width: 70%;
}

.icon {
  outline: none;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 16px;
}

.icon:hover {
  opacity: 0.5;
}

.arrow_down {
  background-image: url('icons/arrow-down-sign-to-navigate.png');
}

.remove-button {

  background-image: url(icons/garbage.png);
}

.add-category-button {
  background-image: url(icons/plus.png);
}

.edit-button {
  background-image: url(icons/edit.png);
}

.clear-button {
  background-image: url(icons/clear-button.png);
  position: relative;
  right: 20px;
  top: 3px;
}

.clear-button:hover {
  opacity: 0.5;
}

.revert-button {
  background-image: url(icons/return.png);
}

.button {
  font: bold 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
